body{
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
  }
  
  /*premiere partie du code */
  
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    top: 10%;
    align-items: center;
    overflow: hidden;
  }
  
  .tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .imageLeft {
    display: flex;
    max-width: 30%;
    justify-content: start; /**/
  }
  
  .imageRight {
    display: flex;
    max-width: 30%;
    justify-content: end; /**/
  }
  
  .tittleBig {
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: Impact, fantasy;
    color: rgb(174, 185, 166);
    font-size: 4.5vw;
    height: 70%;
    max-width: 100%;
  }
  
  #subtittle {
    justify-content: center;
    display: flex;
    font-size: 1.5vw;
    color: rgb(50, 83, 26);
    width: 100%;
    height: 30%;
    align-items: center;
  }
  
  #imageTop {
    display: flex;
    border-radius: 20px;
    height: auto;
    max-width: 100%;
  }
  
  #imageTop2 {
    display: flex;
    border-radius: 20px;
    height: auto;
    max-width: 100%;
  }
  
  a:hover {
      color: rgb(50, 83, 26);
  }
  
/* deuxieme partie du code*/

.main-container {
    font-family: Impact, fantasy;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
}
  
.center {
    background-color: rgb(174, 185, 166);
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
  
  h1 {
    color: black;
    text-align: center;
    font-size: 3em;
  }
  
  h2{
    color: black;
    font-size: 4vw; 
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main-container p {
    color: black;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 10px;
  }

  iframe {
    width: 100%;
  }
  
  .right {
    background-color: #000000;
    width: 15%;
  }
  
  .left {
    background-color: #000000;
    width: 15%;
  }

  ul {
    text-align: center;
    color: rgb(124, 8, 8);
    font-size: 1.3em;
    padding-left: 15px;
    padding-right: 10px;
  }

  #project {
    text-align: center;
    font-size: 1.5em;
  }

  .evenements {
    display: flex;
    justify-content: center;
    background-image: url('image/coulure sang.jpg');
    color: rgb(250, 5, 5);
    text-decoration: none;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding-top: 8px;
    margin-bottom: 40px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.evenements:hover {
    color: #ffffff;
}

/* troisieme partie du code */

.footer-container {
    display: flex;
    background-image: url('image/camouflage-1.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

.reseauxP, .contactP {
  color: rgb(0, 0, 0);
  font-size: 3vw;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.contact {
  justify-content: column;
  align-items: center;
  text-align: center;
  border: 4px solid black;
  width: 30%;
  border-radius: 5%;
  box-shadow: 10px 10px 5px black;
}

.contactIcone {
  display: flex; 
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#phone {
  display: flex; 
  justify-content: center;
  background-color: rgb(0, 0, 0); 
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  height: auto;
  width: 60%;
  padding: 1.5% 0;
  font-size: 2vw;
  align-items: center;
}

#mail {
  display: flex; 
  justify-content: center;
  background-color: rgb(0, 0, 0); 
  color: whitesmoke;
  text-decoration: none;  
  border-radius:5px;
  height: auto;
  width: 70%;
  padding: 1.5% 0;
  font-size: 2vw;
  align-items: center;
}

.reseaux {
  width: 30%;
  border-radius: 10%;
  border: 4px solid black;
  box-shadow: 10px 10px 5px black;
  justify-content: column;
  align-items: center;
  text-align: center;
}

.reseauxIcone {
  display: flex; 
  height: 70%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#youtube{
    border-radius: 5px;
    color: rgb(230, 12, 12);
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px black;
}

#facebook {
    border-radius: 5px;
    color: rgb(30, 16, 223);
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px black;
}

#insta {
    border-radius: 5px;
    color: #ffffff;
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px black;
}

#btnYoutube {
    background-color: transparent;
    border: none;
}

#btnFacebook {
    background-color: transparent;
    border: none;
}

#btnInsta {
    background-color: transparent;
    border: none;
}

/*ajout deuxieme page */

.centerEvenements {
    background-image: url('image/camouflage-1.webp');
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.centerEvenements h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 5vw;
    font-style: bold;
    color: #ffffff;
    background: linear-gradient(135deg, #5f5c61, #201b1b, #1c4722);
    border-radius: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #5f5c61, #201b1b, #1c4722);
    width: 60%;
    border: 5px solid black;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 40%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.card header {
    width: 100%;
    height: 15%;
}

.card footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 15%;
}

#present {
    display: flex; 
    justify-content: center;
    background-color: rgb(20, 20, 20); 
    color:rgb(250, 5, 5);
    text-decoration: none;
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: 1.5% 0;
    align-items: center;
}

#present:hover {
    color: #1c4722;
}

#check {
    background-color: #000000;
    color: #1c4722;
    display: flex; 
    margin-left: 5px;
    margin-right: 5px;
}

.card content {
    width: 100%;
    height: 30%;
}

.centersEvenements p {
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    top: 8px;
}

@media screen and (max-width: 400px) {
    .imageRight, .imageLeft {
      display: none;
    }

    .tittleBig {
        font-size: 7vw;
    }

    #subtittle {
        font-size: 4vw;
    }

    .right, .left {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .reseauxIcone {
        flex-direction: column;
    }
  
      #youtube, #insta, #facebook {
        max-width: 60px;
        max-height: 40px;
    }

    .contactP, .reseauxP {
        background-color: rgb(174, 185, 166);
        border-radius: 10px;
        border: 2px solid black;
    }
}