body{
    background-color: black;
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-container {
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-container {
    background-color: green;
    position: relative;
    
    width: 80%;
    height: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-container {
    background-color: red;
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-family: Impact, fantasy;
    font-size: 120px;
    color: rgb(174, 185, 166);
    text-align: center;
    position: relative;
    z-index: 2;
    bottom: 50px
}

h1:hover {
    color: rgb(50, 83, 26);
}

p {
    text-align: center;
    position: relative;
    top: 10px;
}

#imageTop {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#imageTop2 {
    border-radius: 20px;
    height: 200px;
    width: 200px; 
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}



