body{
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 1.5em;
    color: rgb(228, 233, 224);
    text-align: center;
    bottom: 20px
}

/*premiere partie du code */

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    top: 10%;
}

.imageLeft {
    display: flex;
    width: 30%;
}

.tittle {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.tittle h1 {
    font-family: Impact, fantasy;
    font-size: 4rem; 
    color: rgb(174, 185, 166);
    text-align: center;
    z-index: 2;
    height: 80%;
}

#subtittle {
    font-size: 1.5em;
    color: rgb(50, 83, 26);
    text-align: center;
    position: relative;
    top: 8px;
}

.tittleBig {
    display: inline-block;
    color: rgb(174, 185, 166);
    font-size: 4rem;
    font-family: Impact, fantasy;
    text-align: center;
    z-index: 2;
    height: 70%;
}

.imageRight {
    display: flex;
    width: 30%;
}

#imageTop {
    border-radius: 20px;
    height: 100%;
    max-width: 30%;
    position: absolute;
    top: 10%;
    z-index: 1;
    left: 0;
}

#imageTop2 {
    border-radius: 20px;
    height: 100%;
    max-width: 30%;
    position: absolute;
    top: 10%;
    z-index: 1;
    right: 0;
}

a:hover {
    color: rgb(50, 83, 26);
}

/* deuxieme partie du code*/

.main-container {
    font-family: Impact, fantasy;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  .center {
    background-color: rgb(174, 185, 166);
    width: 70%;
    border-radius: 20px;
    flex-direction: column;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: 3em;
  }
  
  h2{
    color: black;
    font-size: 2em; 
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main-container p {
    color: black;
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 10px;
  }

  iframe {
    width: 100%;
  }
  
  .right {
    background-color: #000000;
    width: 15%;
  }
  
  .left {
    background-color: #000000;
    width: 15%;
  }

/* troisieme partie du code */

.footer-container {
    display: flex;
    background-image: url('image/camouflage-1.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

.footer-container p {
    color: rgb(50, 83, 26);
    font-size: 2em;
    vertical-align: top;
}

.contact {
    background-color: #000000;
    width: 30%;
    border-radius: 10%;
}

.contactIcone {
    color: rgb(50, 83, 26);
}

.contactIcone:hover {
    color: rgb(202, 99, 39);
}

.reseaux {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    width: 30%;
    border-radius: 10%;
}

svg {
    color: #000000;
    background-color: rgb(50, 83, 26);
}

.Mail {
    color: rgb(75, 167, 23);
    background-color: red;
}
